#about-section{
    background: rgb(239, 240, 243) ;
    width:100vw;
    height: 100vh;
}

#about img{
    width: 70%;
    
    /* height: 70%; */
}

.img img{
    border-radius: 5px  !important;
}
.about{
    border-radius: 9px !important;
    padding:7px 0;
}
/* #about .justify-content-start{
   font-size: 15px; */
   /* position: absolute; */
   /* left: 0; */
   /* margin-left: ; */
   /* width: 100%; */
   /* height: 0%; */
   /* box-shadow: 1px 1px 10px 1px rgb(177, 175, 175); */

    
/* } */

/* MEDIA QUERY */
@media screen and (max-width:1110px){
    .pix2 img{
        display: none;
    }
    .context{
        width: 100%;
    }

    .profile-details-name{
        font-size: 20px;
    }

    .profile-details-role .primary-text{
        font-size: 12px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}

@media screen and (max-width:910px){
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width:810px){
    .profile-parent{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
   

    .profile-options{
        display: flex;
        justify-content: space-between;
    }

    .profile-details{
        margin: 25px 0 0;
    }

    .profile-options .highlighted-btn{
        margin: 0 !important;
    }

    .profile-options, .profile-details-role{
        text-align: center;
    }
}

@media screen and (max-width:375px){
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -5px;
    }

    .profile-details{
        width: 90%;
    }
}